/* Buttons */
button {
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.btn {
    border: none;
    letter-spacing: 1.8px;
    padding: 18px 50px;
    text-transform: capitalize;
}
  
.btn-primary {
    color: var(--clr-white);
    background-color: var(--clr-brown);
}
  
.btn-secondary {
    color: var(--clr-brown);
    background-color: var(--clr-white);
}
  
.btn:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: all .5s;
}

.btn:disabled {
    background-color: var(--clr-dark-grey);
    cursor: not-allowed;
}

form .btn {
    margin-top: 26px;
}