/* Constants */

:root {
    --clr-white: #fff;
    --clr-cream-bg: #FBF6F3;
    --clr-cream-bl: #F2EDEA;
    --clr-light-brown: #946149;
    --clr-brown: #9B502E;
    --clr-grey: #ECEDEA;
    --clr-dark-grey: #3D3C3C;
    --clr-black: #000;
  
    --font-family: 'Assistant', sans-serif;
  }