@import "./reset.css";
@import "./buttons.css";
@import "./constants.css";
@import "./headings.css";
@import "./design.css";
@import "./links.css";
@import "./forms.css";
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

html {
  max-width: 1920px;
  margin: 0 auto !important;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--clr-dark-grey);
  line-height: 1.5;
  text-transform: capitalize;
  background-color: var(--clr-cream-bg);
}